body{
    background-color: silver;
}
li{
    list-style: none;
    width: 300px;
    height: 25px;
    border: solid 2px green;
    padding: 3px;
    margin: 5px;
    background-color: whitesmoke;
}
#priority-right{
   float: right;
}

.high-priority{
    border-color: red;
}
